@{
    ViewData["Title"] = "About";
}


<h2>About</h2>

@{
    ViewData["Title"] = "Home Page";
}


I wanted to create a chess game in the console application using C# and then a web application. This will allow players to play against each other or play against a computer for practice. From this Chess App game I wanted to learn more about game development and web development.
The engine I use is chess.js and the user interface is chessboard.js.