<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>test in the about page</title>
    <link rel="stylesheet" href="~/css/chessboard-0.3.0.css">
</head>
<body>
    <script src="~/js/chess.js/chess.js"></script>
    <div id="board" style="width: 400px">
        <div class="chessboard-63f37">
            <div class="board-b72b1" style="width: 392px;">
                <div class="row-5277c">
                    <div class="square-55d63 white-1e1d7 square-a8" style="width: 49px; height: 49px" id="a8-462f-b237-3643-e253-3c8f-42b4-c9aa-9670"
                         data-square="a8">
                        <div class="notation-322f9 numeric-fc462">
                        </div>
                        <img src="~/images/bR.png" alt="" class="piece-417db" data-piece="bR" style="width: 49px;height: 49px;">
                    </div>
                    <div class="square-55d63 black-3c85d square-b8" style="width: 49px; height: 49px" id="b8-2b06-0330-897d-1f9b-d74f-4ffb-ab0f-6415" data-square="b8"><img src="img/chesspieces/wikipedia/bN.png" alt="" class="piece-417db" data-piece="bN" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-c8" style="width: 49px; height: 49px" id="c8-53d6-38b2-3ffc-80d3-8ad4-d6ba-a17f-1839" data-square="c8">
                        <img src="img/chesspieces/wikipedia/bB.png" alt="" class="piece-417db" data-piece="bB" style="width: 49px;height: 49px;">
                    </div>
                    <div class="square-55d63 black-3c85d square-d8" style="width: 49px; height: 49px" id="d8-5aee-ebbc-0f27-2ece-81e5-f7b5-35ca-33b0" data-square="d8"><img src="img/chesspieces/wikipedia/bQ.png" alt="" class="piece-417db" data-piece="bQ" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-e8" style="width: 49px; height: 49px" id="e8-f097-8566-c6ac-47ee-65e3-9f8b-066f-d877" data-square="e8">
                        <img src="img/chesspieces/wikipedia/bK.png" alt="" class="piece-417db" data-piece="bK" style="width: 49px;height: 49px;">
                    </div>
                    <div class="square-55d63 black-3c85d square-f8" style="width: 49px; height: 49px" id="f8-1862-91ed-f7ae-9954-8e1a-1d22-7d14-2263" data-square="f8"><img src="img/chesspieces/wikipedia/bB.png" alt="" class="piece-417db" data-piece="bB" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-g8" style="width: 49px; height: 49px" id="g8-8f34-c5d2-e735-f1a2-c636-9edd-9ed4-6451" data-square="g8"><img src="img/chesspieces/wikipedia/bN.png" alt="" class="piece-417db" data-piece="bN" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-h8" style="width: 49px; height: 49px" id="h8-6f85-0447-856e-56e2-e576-f651-d83d-4f92" data-square="h8"><img src="img/chesspieces/wikipedia/bR.png" alt="" class="piece-417db" data-piece="bR" style="width: 49px;height: 49px;"></div><div class="clearfix-7da63"></div>
                </div>
                <div class="row-5277c">
                    <div class="square-55d63 black-3c85d square-a7" style="width: 49px; height: 49px" id="a7-a216-95a3-50f0-e6ef-bbf5-2490-6ee2-e129" data-square="a7"><div class="notation-322f9 numeric-fc462">7</div><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-b7" style="width: 49px; height: 49px" id="b7-07e0-1aa8-03b2-b664-b7af-1187-ca82-9a57" data-square="b7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-c7" style="width: 49px; height: 49px" id="c7-25b9-3be4-6937-9bcb-3427-06b7-5ffe-8106" data-square="c7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-d7" style="width: 49px; height: 49px" id="d7-d091-5f4a-0302-1d7e-72ff-d7b2-5ef4-a566" data-square="d7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-e7" style="width: 49px; height: 49px" id="e7-dff9-3018-ead6-a46b-0d74-7fff-f843-e21d" data-square="e7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-f7" style="width: 49px; height: 49px" id="f7-06ba-9fe4-5cef-9209-81a2-c8ea-f623-2108" data-square="f7">
                        <img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;">

                    </div>
                    <div class="square-55d63 black-3c85d square-g7" style="width: 49px; height: 49px" id="g7-f32c-c152-39df-7a13-71a6-d33e-afc5-256a" data-square="g7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-h7" style="width: 49px; height: 49px" id="h7-de0e-531b-af0e-a993-8d64-d859-e2d0-4d4a" data-square="h7"><img src="img/chesspieces/wikipedia/bP.png" alt="" class="piece-417db" data-piece="bP" style="width: 49px;height: 49px;"></div><div class="clearfix-7da63"></div>
                </div><div class="row-5277c"><div class="square-55d63 white-1e1d7 square-a6" style="width: 49px; height: 49px" id="a6-f9c2-28e0-2022-2f8d-c52f-f7f8-5c27-7105" data-square="a6"><div class="notation-322f9 numeric-fc462">6</div></div><div class="square-55d63 black-3c85d square-b6" style="width: 49px; height: 49px" id="b6-c1cd-e864-f6ce-d391-c2ac-8e1b-e7e1-88fa" data-square="b6"></div><div class="square-55d63 white-1e1d7 square-c6" style="width: 49px; height: 49px" id="c6-2794-e67a-778d-f869-0b2d-bdaa-1dc8-499b" data-square="c6"></div><div class="square-55d63 black-3c85d square-d6" style="width: 49px; height: 49px" id="d6-2ecc-a2fb-23d1-f067-e840-dc64-dc7a-ba37" data-square="d6"></div><div class="square-55d63 white-1e1d7 square-e6" style="width: 49px; height: 49px" id="e6-b6d8-627b-bc02-dcc3-b438-cdfd-89e9-5397" data-square="e6"></div><div class="square-55d63 black-3c85d square-f6" style="width: 49px; height: 49px" id="f6-4469-6a34-0212-66a5-1ba0-2558-0cde-c939" data-square="f6"></div><div class="square-55d63 white-1e1d7 square-g6" style="width: 49px; height: 49px" id="g6-5b62-8460-e527-c121-1b5e-542f-b8ec-6e12" data-square="g6"></div><div class="square-55d63 black-3c85d square-h6" style="width: 49px; height: 49px" id="h6-42db-6b7c-1f6e-14e7-a457-0d2c-4e53-3772" data-square="h6"></div><div class="clearfix-7da63"></div></div><div class="row-5277c"><div class="square-55d63 black-3c85d square-a5" style="width: 49px; height: 49px" id="a5-ba3d-adfe-7674-c1ea-82c8-e3ae-e735-0ecc" data-square="a5"><div class="notation-322f9 numeric-fc462">5</div></div><div class="square-55d63 white-1e1d7 square-b5" style="width: 49px; height: 49px" id="b5-a152-22c8-f1b0-0bdb-d92f-1dbe-74fa-1714" data-square="b5"></div><div class="square-55d63 black-3c85d square-c5" style="width: 49px; height: 49px" id="c5-8f68-3b87-e400-2407-cc4b-3d5b-cb2c-6fca" data-square="c5"></div><div class="square-55d63 white-1e1d7 square-d5" style="width: 49px; height: 49px" id="d5-1db9-7fe5-514f-fbef-1ab2-7a37-7b52-ead0" data-square="d5"></div><div class="square-55d63 black-3c85d square-e5" style="width: 49px; height: 49px" id="e5-c583-ba8b-a7b2-2857-c993-a6a1-4e26-eec5" data-square="e5"></div><div class="square-55d63 white-1e1d7 square-f5" style="width: 49px; height: 49px" id="f5-a79a-fb1e-3eb3-4b84-547f-50b0-7bff-ff3d" data-square="f5"></div><div class="square-55d63 black-3c85d square-g5" style="width: 49px; height: 49px" id="g5-440a-581b-2c43-c406-0289-197f-eadf-4fea" data-square="g5"></div><div class="square-55d63 white-1e1d7 square-h5" style="width: 49px; height: 49px" id="h5-4858-beca-e4b7-37a1-4edf-b7f1-4bce-43c3" data-square="h5"></div><div class="clearfix-7da63"></div></div><div class="row-5277c"><div class="square-55d63 white-1e1d7 square-a4" style="width: 49px; height: 49px" id="a4-e807-0c8d-9e9f-919a-dee6-5cec-026f-0d96" data-square="a4"><div class="notation-322f9 numeric-fc462">4</div></div><div class="square-55d63 black-3c85d square-b4" style="width: 49px; height: 49px" id="b4-8178-a0c9-de82-9301-c619-ac36-b07e-c2e5" data-square="b4"></div><div class="square-55d63 white-1e1d7 square-c4" style="width: 49px; height: 49px" id="c4-ec9d-7c31-02c1-6414-acd4-4d86-9218-da8c" data-square="c4"></div><div class="square-55d63 black-3c85d square-d4" style="width: 49px; height: 49px" id="d4-e609-aabf-36b4-6e8c-5738-e57f-c706-28d6" data-square="d4"></div><div class="square-55d63 white-1e1d7 square-e4" style="width: 49px; height: 49px" id="e4-6ae4-7ff8-dc2c-5a70-fcf6-0070-28aa-fdf3" data-square="e4"></div><div class="square-55d63 black-3c85d square-f4" style="width: 49px; height: 49px" id="f4-13ff-d6b1-c9c0-fa39-2258-67b0-6f45-4ca8" data-square="f4"></div><div class="square-55d63 white-1e1d7 square-g4" style="width: 49px; height: 49px" id="g4-7e8a-7e35-2d2c-a286-f7c1-61a7-d167-cb5e" data-square="g4"></div><div class="square-55d63 black-3c85d square-h4" style="width: 49px; height: 49px" id="h4-c205-b65c-ac77-c76c-eaa4-cb5c-e8a3-5d5f" data-square="h4"></div><div class="clearfix-7da63"></div></div><div class="row-5277c"><div class="square-55d63 black-3c85d square-a3" style="width: 49px; height: 49px" id="a3-26ba-4cc4-80f4-33a1-cf9a-a556-3499-3515" data-square="a3"><div class="notation-322f9 numeric-fc462">3</div></div><div class="square-55d63 white-1e1d7 square-b3" style="width: 49px; height: 49px" id="b3-6797-b7f1-2eb4-4ffb-6045-75e8-03ac-9a3c" data-square="b3"></div><div class="square-55d63 black-3c85d square-c3" style="width: 49px; height: 49px" id="c3-5579-cd75-b959-4af9-f558-80fb-9a71-a5c4" data-square="c3"></div><div class="square-55d63 white-1e1d7 square-d3" style="width: 49px; height: 49px" id="d3-b4d3-2bba-920b-346f-433e-2bc3-337a-a547" data-square="d3"></div><div class="square-55d63 black-3c85d square-e3" style="width: 49px; height: 49px" id="e3-ba8b-1eae-24f6-60e4-a653-b49f-d7bf-d01b" data-square="e3"></div><div class="square-55d63 white-1e1d7 square-f3" style="width: 49px; height: 49px" id="f3-2966-0aa9-e3a3-334a-e70a-f515-0edb-aa6c" data-square="f3"></div><div class="square-55d63 black-3c85d square-g3" style="width: 49px; height: 49px" id="g3-54c8-925e-b3e6-9ef4-b64b-ad77-c9b1-50be" data-square="g3"></div><div class="square-55d63 white-1e1d7 square-h3" style="width: 49px; height: 49px" id="h3-5985-773a-0b16-a667-5ec3-5691-eeb7-7655" data-square="h3"></div><div class="clearfix-7da63"></div></div><div class="row-5277c"><div class="square-55d63 white-1e1d7 square-a2" style="width: 49px; height: 49px" id="a2-69d1-bf9a-5229-f5fb-098b-a8bc-fe6b-5b0b" data-square="a2"><div class="notation-322f9 numeric-fc462">2</div><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-b2" style="width: 49px; height: 49px" id="b2-8d48-6c9f-8f4a-9f8d-97e5-3ae1-40ba-db8e" data-square="b2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-c2" style="width: 49px; height: 49px" id="c2-77af-ff56-7139-d263-24a1-586f-10db-1d5f" data-square="c2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-d2" style="width: 49px; height: 49px" id="d2-8a1e-8919-a375-1097-bfa7-4fa9-5d14-d5b5" data-square="d2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-e2" style="width: 49px; height: 49px" id="e2-50e7-87d4-7ff5-6850-f4e1-855e-cf5f-f833" data-square="e2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-f2" style="width: 49px; height: 49px" id="f2-5e9c-c594-1de3-d89e-30ff-a985-1d84-6d10" data-square="f2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-g2" style="width: 49px; height: 49px" id="g2-9154-4ce5-71d8-4f10-c284-7abf-07f6-0ff4" data-square="g2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-h2" style="width: 49px; height: 49px" id="h2-3849-cd85-9cf0-91be-0f42-0a73-f360-1f46" data-square="h2"><img src="img/chesspieces/wikipedia/wP.png" alt="" class="piece-417db" data-piece="wP" style="width: 49px;height: 49px;"></div><div class="clearfix-7da63"></div></div><div class="row-5277c">
                    <div class="square-55d63 black-3c85d square-a1" style="width: 49px; height: 49px" id="a1-0de1-6054-6d69-40b0-3476-c762-ae72-644c" data-square="a1"><div class="notation-322f9 alpha-d2270">a</div><div class="notation-322f9 numeric-fc462">1</div><img src="img/chesspieces/wikipedia/wR.png" alt="" class="piece-417db" data-piece="wR" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-b1" style="width: 49px; height: 49px" id="b1-4c80-b8af-d18b-4d17-a7b7-ec42-d4f0-9b50" data-square="b1"><div class="notation-322f9 alpha-d2270">b</div><img src="img/chesspieces/wikipedia/wN.png" alt="" class="piece-417db" data-piece="wN" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-c1" style="width: 49px; height: 49px" id="c1-07ce-7401-0080-55f8-9f0b-295a-8ecf-204a" data-square="c1"><div class="notation-322f9 alpha-d2270">c</div><img src="img/chesspieces/wikipedia/wB.png" alt="" class="piece-417db" data-piece="wB" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-d1" style="width: 49px; height: 49px" id="d1-93e3-0d0b-e7c3-6477-3755-84e4-b3cc-5879" data-square="d1"><div class="notation-322f9 alpha-d2270">d</div><img src="img/chesspieces/wikipedia/wQ.png" alt="" class="piece-417db" data-piece="wQ" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-e1" style="width: 49px; height: 49px" id="e1-368c-39c7-8f2e-384b-7ff0-98af-c9a6-5f09" data-square="e1">
                        <div class="notation-322f9 alpha-d2270">e</div>
                        <img src="~/images/wK.png" alt="" class="piece-417db" data-piece="wK" style="width: 49px;height: 49px;">
                    </div><div class="square-55d63 white-1e1d7 square-f1" style="width: 49px; height: 49px" id="f1-e2fa-0907-2157-3c88-436c-a872-f459-193e" data-square="f1"><div class="notation-322f9 alpha-d2270">f</div><img src="img/chesspieces/wikipedia/wB.png" alt="" class="piece-417db" data-piece="wB" style="width: 49px;height: 49px;"></div><div class="square-55d63 black-3c85d square-g1" style="width: 49px; height: 49px" id="g1-3019-8700-e871-d3de-2be8-cd7e-1989-5a7e" data-square="g1"><div class="notation-322f9 alpha-d2270">g</div><img src="img/chesspieces/wikipedia/wN.png" alt="" class="piece-417db" data-piece="wN" style="width: 49px;height: 49px;"></div><div class="square-55d63 white-1e1d7 square-h1" style="width: 49px; height: 49px" id="h1-0126-764c-8b3c-07b3-f35b-e8b4-56c8-04ad" data-square="h1"><div class="notation-322f9 alpha-d2270">h</div><img src="img/chesspieces/wikipedia/wR.png" alt="" class="piece-417db" data-piece="wR" style="width: 49px;height: 49px;"></div><div class="clearfix-7da63"></div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/json3/json3.min.js"></script>
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/chessboard-0.3.0.js"></script>
    <script>

        var init = function () {

            //--- start example JS ---
            var board,
                game = new Chess(),
                statusEl = $('#status'),
                fenEl = $('#fen'),
                pgnEl = $('#pgn');

            // do not pick up pieces if the game is over
            // only pick up pieces for the side to move
            var onDragStart = function (source, piece, position, orientation) {
                if (game.game_over() === true ||
                    (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false;
                }
            };

            var onDrop = function (source, target) {
                // see if the move is legal
                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' // NOTE: always promote to a queen for example simplicity
                });

                // illegal move
                if (move === null) return 'snapback';

                updateStatus();
            };

            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            var onSnapEnd = function () {
                board.position(game.fen());
            };

            var updateStatus = function () {
                var status = '';

                var moveColor = 'White';
                if (game.turn() === 'b') {
                    moveColor = 'Black';
                }

                // checkmate?
                if (game.in_checkmate() === true) {
                    status = 'Game over, ' + moveColor + ' is in checkmate.';
                }

                // draw?
                else if (game.in_draw() === true) {
                    status = 'Game over, drawn position';
                }

                // game still on
                else {
                    status = moveColor + ' to move';

                    // check?
                    if (game.in_check() === true) {
                        status += ', ' + moveColor + ' is in check';
                    }
                }

                statusEl.html(status);
                fenEl.html(game.fen());
                pgnEl.html(game.pgn());
            };

            var cfg = {
                draggable: true,
                position: 'start',
                onDragStart: onDragStart,
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            };
            board = ChessBoard('board', cfg);

            updateStatus();
            //--- end example JS ---

        }; // end init()
        $(document).ready(init);


    </script>
    <img src="~/images/wP.png" id="69d8-90f7-fa73-bf56-9f93-995e-5690-60ef" alt="" class="piece-417db" data-piece="wP" style="height: 49px; width: 49px; position: absolute; left: 255px; top: 380px; display: none;">
</body>
</html>